.containerDescription {
  margin:auto;
  width: 90%;
  position: relative;
  margin-top: 50px;
}

.title {
  font-size: 20px;
  float: left;
  position: relative;
}
.image {
  float: left;
}

.description {
  padding-top: 50px;
}

.buy {
  margin: 5%;
  width: 90%;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 2px solid grey;
  clear: both;
  
}

.price {
  float: right;
  padding-left: 80%
  
}

.addBtn {
  float: right;
  display: block;
  width: 150px;
  margin: 20px 0;
  background: rgb(55, 133, 207);
  color: white;
  border: 0;
  padding: 15px;
  font-size: 1.2rem;
}
