.itemContainer {
  height: 100px;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-bottom: 2px solid #f2f1f2;
}


.image {
  float: left;
  width: 100px;
}

.itemImg {
  width: 100px;
}

.title {
  float: left;
  margin-top: 40px;
  margin-left: 50px;
  width: 50%;
  height: 100%;
}

.priceContainer {
  width: 80px;
  float: left;
  height: 100%;
  display: flex;
}
.price {
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin: auto;
}

.btn {
  float: right;
  height: 100%;
  display: flex;
}

.input {
  float: left;
  height: 100%;
  width: 7%;
  display: flex;
}

.changeInput {
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.removeBtn {
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  background-color: #a4c4d8fb;
}
