.itemContainer {
  height: 100px;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-bottom: 2px solid #f2f1f2;
}

.image {
  float: left;
}

.title {
  float: left;
  margin-top: 20px;
  margin-left: 50px;

}

.btn {
  float: right;
  margin-right: 40px;
  height: 100%;
  width: 80px;
}

.editBtn {
  margin-top: 20px;
  padding-right: 100%;
  width: 40px;
}

.removeBtn {
  margin-top: 15px;
  padding-right: 100%;
  width: 40px;
}
