.container {
  background-color: #F3F3F3;
  height: 10px;
  padding: 20px;
  width: 100%;
  min-width: 1017px;
}

.logo {
  float: left;
  font-size: 20px;
}

.searchContainer {
  float: left;
  margin-left: 15%;
}

.cart {
  float: right;
  margin-right: 40px;
  width: 60px;
}

.addItemAdminContainer {
  float:right;
  margin-right: 10px;
  width: 70px
}

.fullName {
  float: right;
  margin-right: 10px;
}

.containerPriseBtn {
  width: 100%;
  display: block;
}

.closeModalCart {
  float: right;
  width: 150px;
  clear: both;
}

.totalPrice {
  float: right;
}

.closeModalCartBtn {
  display: block;
  width: 100%;
  margin: 20px 0;
  background: rgb(55, 133, 207);
  color: white;
  border: 0;
  padding: 15px;
  font-size: 1.2rem;
}

.additional {
  float: right;
}

.loginBtnCart {
  /* float: right;
  margin-right: 10px; */
}
.loginBtnInCartContainer {
  float: right;
  margin-right: 30px;
}
