.itemContainer {
  float: left;
  width: 200px;
  height: 380px;
  margin: 10px;
  list-style-type: none;
}

.image {
  width: 100%;
  height: 200px;
}

.itemImg {
  width: 200px;
}

.title {
  margin: auto;
  height: 70px;
}

.titleText {
  margin: auto;
  margin-top: 15px;
}

.priceContainer {
  margin-left: 43%;
  margin-bottom: 10px;
}

.price {
  margin: auto;
}

.btn {
  /* margin-left: 57px; */
  margin: auto;
}

.addBtn {
  /* border-radius: 3px; */
  display: block;
  width: 70%;
  margin: 15px auto;
  background: rgb(0, 137, 207);
  color: white;
  border: 0;
  padding: 10px;
  font-size: 1.1rem;
}
