.itemContainer {
  float: left;
  width: 200px;
  height: 350px;
  margin: 10px;
  list-style-type: none;
}

.image {
  width: 100%;
  height: 200px;
}

.itemImg {
  width: 200px;
}

.title {
  margin: auto;
  height: 70px;
}

.price {
  margin: auto;
}

.btn {
  margin-left: 57px;
}
