.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #F3F3F3;
  height: 10px;
  padding: 20px;
  width: 100%;
}

.header-logo {
  float: left;
  font-size: 20px;
}

.header-search {
  float: left;
  margin-left: 15%;
}

.header-cart {
  float: right;
  margin-right: 5%;
}

.footer{
  /* position: fixed; */
  /* right: 10px; */
  position: fixed; /* Фиксированное положение */
  right: 0;
  bottom: 0;
  width: 100%;
}
/* float: right; */
.footer-logo {
  /* margin-right: 100px; */
  float: left;
  margin-left: 30px;
  margin-bottom: 10px;
}

.footer-link {

  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}

.alert-hidden {
  visibility: hidden;
}

.alert-shown {
  visibility: visible;
}

.form-div {
  width: 90%;
  height: 90%;
  background-color: #f2f1f2;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
}

.forms-name {
  float: left;
}

.forms-email {
float: left;
}

.forms-comment {
  clear: both;
  margin-top: 40px;
}

#about-name {
  margin-right: 40px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*

header-cart */
